<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niallod.quickbudget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/overview_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddItem"
            android:label="@string/add_label" />
        <activity
            android:name=".activities.EditItem"
            android:label="@string/edit_label" />
        <activity
            android:name=".activities.RemoveItem"
            android:label="@string/delete_label" />
        <activity
            android:name=".activities.ItemModifyActivity"
            android:label="@string/edit_label" />

        <receiver
            android:name=".widget.QuickBudgetAppWidget"
            android:label="@string/full_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_budget_app_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.QuickBudgetAddWidget"
            android:label="@string/add_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_budget_add_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.QuickBudgetDeleteWidget"
            android:label="@string/delete_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_budget_delete_widget_info" />
        </receiver>
        <receiver android:name=".widget.QuickBudgetEditWidget"
            android:label="@string/edit_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_budget_edit_widget_info" />
        </receiver>
    </application>

</manifest>